*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #CCC;
    font-family: Poppins, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: capitalize;
    font-size: 25px
}
body{
    background-color: #0e172b;
}
.container{
    display: block;
    padding: 20px;
    margin : auto;
    background-color: #0e172b;
    max-width: 1020px;
}
.about-me{
    display: flex;
    margin-top: 15px
}
.about-me .personal-information{
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    flex: 1;
}
.about-me .personal-information > *:not(.title){
    line-height: 1.7;
}
.about-me .picture{
    display: flex;
    flex: 1;
    direction: rtl;
}
.about-me .picture img{
    width: 300px;
    height: 300px
}
i {
    color: #6596b3;
    margin-right: 10px;
}
.personal-information span{
    font-weight: bold;
    color: #e0e0e0
}
.border{
    border: none;
}

h1,
.title{
    margin-bottom: 10px;
    position: relative;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: 0.6s;
    color: #e0e0e0
}
h1{
    font-size: 30px;
    text-align: center;
    margin: 5px auto;
}
h1:hover,
.title:hover {
    color: #a0a0a0;
}
h1::before,
.title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 50%;
    height: 5px;
    background-color: #0ea5e9;
    border-radius: 5px;
    transition: 0.6s
}
h1::before{
    left: 25%;
}
h1:hover::before,
.title:hover::before {
    left: 0;
    width: 100%;
}

/* start skills */
.skills{
    display: block;
}
.skills span {
    display: inline-block;
    background-color: #192849;
    padding: 10px;
    margin: 10px 4px;
    border-radius: 7%;
    cursor: pointer;
    transition: 0.6s
}
.skills span:hover {
    background-color: #243762
}
/* End skills */
/* Start Projects */
.projects i{
    color: #6596b3;
    font-size: 28px;
}
.projects .parent {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    gap: 35px;
}
.projects .parent .project-card {
    flex: 1;
    background-color: #192849;
    padding: 20px;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.7s;
    box-shadow: 3px 3px 20px 0px black;
}
.projects .parent .project-card:hover {
    background-color: #243762;
    transform: translateY(-10px);
}
.projects .parent .project-card .project-title {
    margin-bottom: 10px
}
.projects .parent .project-card .project-description {
    margin-bottom: 10px
}
.projects .parent .project-card a {
    color: #00b0ff
}
/* End Projects */
/* start footer */
.footer {
    display: block;
    background-color: black;
    text-align: center;
    padding: 10px;
}
.footer .phone{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.footer .phone p{
    font-size: 20px;
    text-transform: lowercase;
}
.footer p{
    font-size: 20px;
}
.footer i {
    color: white;
    font-size: 30px;
    margin-top: 6px;
    transition: 0.3s;
}
.footer i:hover {
    color: #6596b3
}
/* End footer */
/* Start Media */
@media (max-width: 750px) {
    .header p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
    .header .read-more{
        display: block;
    }
    .about-me{
        flex-direction: column;
    }
    .about-me .personal-information{
        border: none
    }
    .about-me .picture {
        margin-top: 10px;
        justify-content: center;
    }
    .border{
        border: 1px #CCC solid
    }
    .projects .parent {
        flex-direction: column;
    }
}
/* End Media */